<h1>Editing Listing</h1>

<%= render 'form', listing: @listing %>

<button type="button" class="btn btn-info">
<%= link_to 'Show', @listing %>
</button>

<button type="button" class="btn btn-info" id="formbackbtn">
<%= link_to 'Back', profile_path %>
</button>