</br>

<div class="container">
    <h1 class="display-4">Find Registered Pet Groomers</h1>

    <h2>Connecting pet owners to registered pet groomers</h2>

       <%= image_tag 'groomingdog.jpg' , class: "image-fluid" %>
</div>