<div class="jumbotron-fluid custom-home">
<div class="container-main">
    <h1 class="display-4">Find Registered Pet Groomers</h1>
    <h5 class="tagline">Connecting pet owners to registered pet groomers</h5>
    <br>
 <button type="button" class="btn btn-secondary"><a id="seepetgroomers" href="/listings">See our pet groomers!</a></button>
 </div>
    <div id="main">
                <%= image_tag 'grey-cat-landingpage.jpg', class: "img-fluid"%>
       </div>
</div>
