<div class="jumbotron-fluid custom-home">
    <div id="main">
                <%= image_tag 'grey-cat-landingpage.jpg', class: "img-fluid"%>
       </div>
</div>


<div class="container">
    <div class="top-left"><h1>Find Registered Pet Groomers</h1></div>
    <div class="top-left"><p>Connecting pet owners to registered pet groomers</p></div>

 </div>


<!--     <h1>Find Registered Pet Groomers</h1>
    <p>Connecting pet owners to registered pet groomers</p> -->