<div class="jumbotron-fluid custom-home">
    <div id="main">
        <div class="carousel-inner">
            <div class="carousel-item active">

                <%= image_tag 'grey-cat-landingpage.jpg', class: "img-fluid"%>
            </div>
             </div>
              </div>
               </div>


<div>
    <h1>Find Registered Pet Groomers</h1>
    <p>Connecting pet owners to registered pet groomers</p>
 </div>