<h1>New Listing: Add Your Grooming Service</h1>
<br>
<br>
<%= render 'form', listing: @listing %>

<button type="button" class="btn btn-info" id="formbackbtn">
<%= link_to 'Back', profile_path %>
</button>