// Place all the styles related to the listings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background-color: grey;
  background-image: url('images/groomingdog.jpg');
  background-size: 100%;
  background-position: center;
  color: #333;
  margin: 33px;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

 h1 {
    text-align: right;
    color: #17A2B8;
  }

 h6 {
    text-align: right;
    color: #CD4175;
  }
